:root {
  --main-font-family: "Playfair Display", serif;
  --text-font-family: "Poppins", sans-serif;
  --branding-color: #9c756f;
}
.a {
  color: black;
}
.a:hover {
  cursor: pointer;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 4px;
}
h1 {
  font-family: var(--main-font-family);
  text-align: center;
  font-size: 96px;
}
h2 {
  font-family: var(--text-font-family);
  font-size: 36px;
  text-align: center;
  font-weight: 400;
  margin-top: 24px;
}
h3,
.about-page {
  font-family: var(--main-font-family);
  font-size: 64px;
  font-weight: 700;
}
.subpages-heading {
  text-align: left;
  margin-top: 259px;
  font-size: 64px;
  margin-left: 145px;
}
.aboutpage-heading {
  text-align: left;
  margin-top: 259px;
  font-size: 64px;
}
.portfolio-heading {
  margin-bottom: 103px;
}
.about-page-subtitle {
  font-family: var(--text-font-family);
  font-weight: 700;
  font-size: 18px;
  text-align: left;
}
.about-page-text {
  font-family: var(--text-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
.contact-heading {
  margin-bottom: 80px !important;
}
a:hover {
  background-color: var(--branding-color);
  color: white !important;
}
.p {
  font-family: var(--text-font-family);
  font-weight: 700;
  text-align: center;
  margin-bottom: 0px;
  font-size: 36px;
  margin-top: 176px;
}
.header {
  background-image: url("../sources/Header_Hankemacht-01.png");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 80px 40px;
}
.mailto {
  text-align: center;
  margin: 30px;
  font-family: var(--text-font-family);
  font-weight: 500;
  font-size: 24px;
}
.button {
  display: block;
  text-align: center;
  margin: 49px auto 271px;
  background-color: var(--branding-color);
  color: white;
  padding: 18px 46px;
  border-radius: 4px !important;
  border: none;
}
.navbar-color {
  background-color: #9c756f;
}
.navbar-brand {
  color: white;
  font-family: var(--text-font-family);
  font-weight: 400;
  font-size: 16px;
}
.nav-item {
  color: white;
  font-family: var(--text-font-family);
  font-weight: 400;
  font-size: 16px;
}
.sr-only {
  font-family: var(--text-font-family);
  font-weight: 500;
}
.navbar-brand1 {
  color: white;
  font-family: var(--text-font-family);
  font-weight: 500;
  font-size: 18px;
}
.best-work {
  font-family: var(--text-font-family);
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}
.picture_portfolio {
  max-width: 560px;
  max-height: 560px;
}
.paragraph {
  font-weight: 400;
  font-size: 16px;
  text-align: start;
  margin-top: 55px;
}
.button2 {
  display: inline-flex;
  text-align: center;
  margin: 49px auto;
  background-color: white;
  color: #9c756f;
  padding: 18px 46px;
  border-radius: 4px;
  border: 1px solid #9c756f;
}
.my-image {
  max-width: 100%;
}
.my-image-col {
  margin-top: 459px;
  margin-left: 60px;
}

.my-portfolio {
  background-color: #efddda;
  border-radius: 4px;
  margin: 30px;
  max-height: 100%;
}
.my-portfolio-img {
  max-width: 100%;
  padding: 20px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
}
.my-portfolio-img2 {
  max-width: 100%;
  max-height: 100%;
  padding: 54px 20px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
}
.my-portfolio-title {
  text-align: center;
  font-family: var(--text-font-family);
  font-weight: 700;
  display: block;
  margin: 0 auto;
}
.my-portfolio-subtitle {
  text-align: center;
  font-family: var(--text-font-family);
  display: block;
  margin: 0 auto;
}
.container-position {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.work-inquiry-head {
  font-weight: 700;
  font-size: 48px;
  margin: 49px 119px 0;
}
.work-inquiry-text {
  font-size: 16px;
  font-weight: 400;
  margin: 18px 119px;
  text-align: left;
}
.work-inquiry-1 {
  background-color: #efddda;
  display: block;
  margin: 30px auto;
  height: 250px;
  border-top-left-radius: 4px 4px;
  border-bottom-left-radius: 4px 4px;
}
.work-inquiry-2 {
  background-color: #efddda;
  display: block;
  margin: 30px auto;
  height: 250px;
  border-top-right-radius: 4px 4px;
  border-bottom-right-radius: 4px 4px;
}

.lets-talk-btn {
  text-align: center;
  background-color: white;
  color: #9c756f;
  padding: 18px 46px;
  border-radius: 4px;
  border: 1px solid #9c756f;
  margin: 100px 150px;
}
.background-portfolio-left {
  background-color: #efddda;
  padding: 260px 260px;
  margin-right: 40px;
  border-radius: 4px;
  max-width: 50%;
}
.background-portfolio-right {
  background-color: #efddda;
  padding: 260px 260px;
  border-radius: 4px;
  max-width: 50%;
}
.portfolio-left {
  margin-top: 30px;
  margin-right: 40px;
  margin-bottom: 30px;
}
.portfolio-right {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.links-portfolio {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: black;
  font-family: --var(text-font-family);
  font-size: 24px;
  font-weight: 700;
}
.links-portfolio:hover {
  text-decoration: none;
  background-color: white;
  color: black !important;
}
.description-work {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-family: --var(text-font-family);
  font-size: 14px;
}
.social-media {
  display: inline-block;
  text-align: center;
  max-width: 50px;
}
.social-media-alignment {
  display: block;
  margin: 30px auto 70px;
  text-align: center;
}
@media (max-width: 1199.98px) {
  .background-portfolio-left {
    background-color: #efddda;
    padding: 260px 260px;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    max-width: 50%;
  }
  .background-portfolio-right {
    background-color: #efddda;
    padding: 260px 260px;
    border-radius: 4px;
    max-width: 50%;
    display: block;
    margin: 0 auto;
  }
  .container-position {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .subpages-heading {
    text-align: center;
    display: block;
    margin-left: 0;
  }
  .about-page-subtitle {
    text-align: center;
  }
  .about-page-text {
    text-align: center;
  }
  .projects-button {
    display: block;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
  }
  .my-image-col {
    margin-top: 459px;
    margin-left: 60px;
  }
  .work-inquiry-1,
  .work-inquiry-2 {
    background-color: #efddda;
    display: block;
    margin: 30px auto;
    height: 320px;
  }
  .work-inquiry-1 {
    border-top-left-radius: 4px 4px;
    border-bottom-left-radius: 4px 4px;
  }
  .work-inquiry-2 {
    border-top-right-radius: 4px 4px;
    border-bottom-right-radius: 4px 4px;
  }
  .paragraph {
    text-align: center;
    max-width: 100%;
    margin: 0 30px;
  }
}
@media (max-width: 991.98px) {
  .subpages-heading {
    display: block;
    margin-left: 0;
    text-align: center;
  }
  .lets-talk-btn {
    display: block;
    background-color: white;
    color: #9c756f;
    padding: 18px 46px;
    border-radius: 4px;
    border: 1px solid #9c756f;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
  }
  .work-inquiry-1 {
    margin-top: 30px;
    margin-bottom: 0;
    border-top-right-radius: 4px 4px;
    border-top-left-radius: 4px 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 150px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .work-inquiry-2 {
    margin-top: 0;
    margin-bottom: 30px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 4px 4px;
    border-bottom-right-radius: 4px 4px;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
  }
  .work-inquiry-head {
    text-align: center;
    display: block;
    margin: 10px auto;
  }
  .work-inquiry-text {
    text-align: center;
    display: block;
    margin: 10px auto;
  }
  .my-image-col {
    display: block;
    margin: 0 auto;
  }
}
